6.out
_obj
_test
*.6
*.o
_testmain.go
_cgo_export.h
norm.aiff
addpeakchunk1.aiff
leout.wav
truncout.aiff
update
broadcast
scalefactor.aiff
test/funky2.aiff
musicenztrumentz.aiff
rawtest
openfd
getsetstring.wav
ambisonictest.wav
cliptest.aiff
channelmaps